.bg{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: fixed;
    background-attachment: center;
    background-image: url("https://swiperjs.com/demos/images/nature-1.jpg");
}
.slide{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: fixed;
    background-attachment: center;

}

.swiper-slide{
    height: auto;
}