@tailwind base;
@tailwind components;
@tailwind utilities;


swiper-container{
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    
}


swiper-slide img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: fill;

}

swiper-slide {
    padding: .5rem .8rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background: rgb(228, 228, 207);
    gap: .2rem;
}
